.menu-parent{
  position: relative;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
}
.menu-child{
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  box-sizing: border-box;
}
